@media screen and (min-width: 1366px) {
    #listFormat{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    button{
        height: 500vh;
    }
}