.mainFormat{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 5%;

    #botonera{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    white-space: nowrap;
    }

    button{
        border-radius: 10px;
        height: 1%;
        color: white;
        background-color: #7DB9B6;
        padding: 0 3%;
    }

    #buttonUp, #buttonDown{
        padding: 0 5%;
    }

    button.active {
        background-color: #4D455D;
        color: white;
        font-weight: bold;
      }
      
    //   /* Add hover effect to sorting buttons */
    //   button:hover {
    //     background-color: #e6e6e6;
    //     color: #333;
    //     cursor: pointer;
    //   }
}